<?xml version="1.0" encoding="UTF-8"?><plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="phonegap-plugin-trace"
    version="4.0.1">

    <name>TracePluginCommon</name>
    <description>You can use the TracePluginCommon plugin to scan different types of barcodes (using the device's camera) and get the metadata encoded in them for processing within your application.</description>
    <license>MIT</license>

    <repo>https://github.com/wildabeast/TracePluginCommon</repo>
    <issue>https://github.com/wildabeast/TracePluginCommon/issues</issue>

    <engines>
        <engine name="cordova" version=">=3.0.0" />
    </engines>

    <js-module src="www/tracePluginCommon.js" name="TracePluginCommon">
        <clobbers target="cordova.plugins.tracePluginCommon" />
    </js-module>

    <!-- ios -->
    <!--<platform name="ios">-->
        <!--&lt;!&ndash; Cordova >= 2.8 &ndash;&gt;-->
        <!--<config-file target="config.xml" parent="/*">-->
            <!--<feature name="TracePluginCommon">-->
                <!--<param name="ios-package" value="CDVTracePluginCommon" />-->
            <!--</feature>-->
        <!--</config-file>-->

        <!--<resource-file src="src/ios/scannerOverlay.xib" />-->
        <!--<resource-file src="src/ios/CDVTracePluginCommon.bundle" />-->

        <!--<header-file src="src/ios/zxing-all-in-one.h" />-->

        <!--<source-file src="src/ios/CDVTracePluginCommon.mm" compiler-flags="-fno-objc-arc" />-->
        <!--<source-file src="src/ios/zxing-all-in-one.cpp" />-->

        <!--<framework src="libiconv.dylib" />-->
        <!--<framework src="AVFoundation.framework" />-->
        <!--<framework src="AssetsLibrary.framework" />-->
        <!--<framework src="CoreVideo.framework" />-->
        <!--<framework src="QuartzCore.framework" />-->
        <!--<framework src="CoreGraphics.framework" />-->
        <!--<framework src="CoreImage.framework" />-->
        <!--<framework src="AudioToolbox.framework" />-->
    <!--</platform>-->

    <!-- android -->
    <platform name="android">

        <source-file src="src/android/com/phonegap/plugins/leanit/TracePluginCommon.java" target-dir="src/com/phonegap/plugins/leanit" />
        <!--
        <source-file src="R.java" target-dir="src/com/google/zxing/client/android" />
        -->

        <!--
        <config-file target="res/xml/plugins.xml" parent="/plugins">
            <plugin name="TracePluginCommon" value="com.phonegap.plugins.dialog.TracePluginCommon"/>
        </config-file>
        -->

        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="TracePluginCommon">
                <param name="android-package" value="com.phonegap.plugins.leanit.TracePluginCommon" />
            </feature>
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/manifest/application">
            <!--<activity-->
                <!--android:name="com.google.zxing.client.android.CaptureActivity"-->
                <!--android:clearTaskOnLaunch="true"-->
                <!--android:configChanges="orientation|keyboardHidden"-->
                <!--android:theme="@android:style/Theme.NoTitleBar.Fullscreen"-->
                <!--android:windowSoftInputMode="stateAlwaysHidden"-->
                <!--android:exported="false">-->
                <!--<intent-filter>-->
                    <!--<action android:name="com.google.zxing.client.android.SCAN"/>-->
                    <!--<category android:name="android.intent.category.DEFAULT"/>-->
                <!--</intent-filter>-->
            <!--</activity>-->
            <!--<activity android:name="com.google.zxing.client.android.encode.EncodeActivity" android:label="@string/share_name">-->
                <!--<intent-filter>-->
                    <!--<action android:name="com.phonegap.plugins.dialog.ENCODE"/>-->
                    <!--<category android:name="android.intent.category.DEFAULT"/>-->
                <!--</intent-filter>-->
            <!--</activity>-->
            <!--<activity android:name="com.google.zxing.client.android.HelpActivity" android:label="@string/share_name">-->
                <!--<intent-filter>-->
                    <!--<action android:name="android.intent.action.VIEW"/>-->
                    <!--<category android:name="android.intent.category.DEFAULT"/>-->
                <!--</intent-filter>-->
            <!--</activity>-->
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/manifest">
            <uses-permission android:name="android.permission.CAMERA" />
            <uses-permission android:name="android.permission.FLASHLIGHT" />
            <!-- Not required to allow users to work around this -->
            <uses-feature android:name="android.hardware.camera" android:required="false" />
            <uses-permission android:name="android.permission.GET_ACCOUNTS" />
            <uses-permission android:name="android.permission.READ_PROFILE" />
            <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
            <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
            <uses-permission android:name="android.permission.BLUETOOTH" />
            <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
            <!--SD卡读写权限-->
            <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
            <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
        </config-file>

        <!--<source-file src="src/android/com.google.zxing.client.android.captureactivity.jar" target-dir="libs"/>-->

        <source-file src="src/android/BixolonPrinterWithDoubleByteFontBinaryV229.jar" target-dir="libs"/>

        <!--
            LibraryProject/res/*.*
            search: (src/android/LibraryProject/(.+?)/[^/]+)$
            replace: <source-file src="$1" target-dir="$2"/>
        -->

        <!--<source-file src="src/android/LibraryProject/res/drawable/launcher_icon.png" target-dir="res/drawable"/>-->
        <!--<source-file src="src/android/LibraryProject/res/drawable/share_via_barcode.png" target-dir="res/drawable"/>-->
        <!--<source-file src="src/android/LibraryProject/res/drawable/shopper_icon.png" target-dir="res/drawable"/>-->
        <!--<source-file src="src/android/LibraryProject/res/drawable-hdpi/launcher_icon.png" target-dir="res/drawable-hdpi"/>-->
        <!--<source-file src="src/android/LibraryProject/res/drawable-hdpi/shopper_icon.png" target-dir="res/drawable-hdpi"/>-->
        <!--<source-file src="src/android/LibraryProject/res/drawable-xhdpi/launcher_icon.png" target-dir="res/drawable-xhdpi"/>-->
        <!--<source-file src="src/android/LibraryProject/res/drawable-xxhdpi/launcher_icon.png" target-dir="res/drawable-xxhdpi"/>-->
        <!--<source-file src="src/android/LibraryProject/res/layout/bookmark_picker_list_item.xml" target-dir="res/layout"/>-->
        <!--<source-file src="src/android/LibraryProject/res/layout/capture.xml" target-dir="res/layout"/>-->
        <!--<source-file src="src/android/LibraryProject/res/layout/encode.xml" target-dir="res/layout"/>-->
        <!--<source-file src="src/android/LibraryProject/res/layout/help.xml" target-dir="res/layout"/>-->
        <!--<source-file src="src/android/LibraryProject/res/layout/history_list_item.xml" target-dir="res/layout"/>-->
        <!--<source-file src="src/android/LibraryProject/res/layout/search_book_contents.xml" target-dir="res/layout"/>-->
        <!--<source-file src="src/android/LibraryProject/res/layout/search_book_contents_header.xml" target-dir="res/layout"/>-->
        <!--<source-file src="src/android/LibraryProject/res/layout/search_book_contents_list_item.xml" target-dir="res/layout"/>-->
        <!--<source-file src="src/android/LibraryProject/res/layout/share.xml" target-dir="res/layout"/>-->
        <!--<source-file src="src/android/LibraryProject/res/layout-land/encode.xml" target-dir="res/layout-land"/>-->
        <!--<source-file src="src/android/LibraryProject/res/layout-land/share.xml" target-dir="res/layout-land"/>-->
        <!--<source-file src="src/android/LibraryProject/res/layout-ldpi/capture.xml" target-dir="res/layout-ldpi"/>-->
        <!--<source-file src="src/android/LibraryProject/res/menu/capture.xml" target-dir="res/menu"/>-->
        <!--<source-file src="src/android/LibraryProject/res/menu/encode.xml" target-dir="res/menu"/>-->
        <!--<source-file src="src/android/LibraryProject/res/menu/history.xml" target-dir="res/menu"/>-->
        <!--<source-file src="src/android/LibraryProject/res/raw/beep.ogg" target-dir="res/raw"/>-->
        <!--<source-file src="src/android/LibraryProject/res/values/arrays.xml" target-dir="res/values"/>-->
        <!--<source-file src="src/android/LibraryProject/res/values/colors.xml" target-dir="res/values"/>-->
        <!--<source-file src="src/android/LibraryProject/res/values/dimens.xml" target-dir="res/values"/>-->
        <!--<source-file src="src/android/LibraryProject/res/values/ids.xml" target-dir="res/values"/>-->
        <!--<source-file src="src/android/LibraryProject/res/values-ar/strings.xml" target-dir="res/values-ar"/>-->
        <!--<source-file src="src/android/LibraryProject/res/values-bg/strings.xml" target-dir="res/values-bg"/>-->
        <!--<source-file src="src/android/LibraryProject/res/values-ca/strings.xml" target-dir="res/values-ca"/>-->
        <!--<source-file src="src/android/LibraryProject/res/values-cs/strings.xml" target-dir="res/values-cs"/>-->
        <!--<source-file src="src/android/LibraryProject/res/values-da/strings.xml" target-dir="res/values-da"/>-->
        <!--<source-file src="src/android/LibraryProject/res/values-de/strings.xml" target-dir="res/values-de"/>-->
        <!--<source-file src="src/android/LibraryProject/res/values-el/strings.xml" target-dir="res/values-el"/>-->
        <!--<source-file src="src/android/LibraryProject/res/values-es/strings.xml" target-dir="res/values-es"/>-->
        <!--<source-file src="src/android/LibraryProject/res/values-eu/strings.xml" target-dir="res/values-eu"/>-->
        <!--<source-file src="src/android/LibraryProject/res/values-fi/strings.xml" target-dir="res/values-fi"/>-->
        <!--<source-file src="src/android/LibraryProject/res/values-fr/strings.xml" target-dir="res/values-fr"/>-->
        <!--<source-file src="src/android/LibraryProject/res/values-he/strings.xml" target-dir="res/values-he"/>-->
        <!--<source-file src="src/android/LibraryProject/res/values-hi/strings.xml" target-dir="res/values-hi"/>-->
        <!--<source-file src="src/android/LibraryProject/res/values-hu/strings.xml" target-dir="res/values-hu"/>-->
        <!--<source-file src="src/android/LibraryProject/res/values-id/strings.xml" target-dir="res/values-id"/>-->
        <!--<source-file src="src/android/LibraryProject/res/values-it/strings.xml" target-dir="res/values-it"/>-->
        <!--<source-file src="src/android/LibraryProject/res/values-iw/strings.xml" target-dir="res/values-iw"/>-->
        <!--<source-file src="src/android/LibraryProject/res/values-ja/strings.xml" target-dir="res/values-ja"/>-->
        <!--<source-file src="src/android/LibraryProject/res/values-ko/strings.xml" target-dir="res/values-ko"/>-->
        <!--<source-file src="src/android/LibraryProject/res/values-nl/strings.xml" target-dir="res/values-nl"/>-->
        <!--<source-file src="src/android/LibraryProject/res/values-pl/strings.xml" target-dir="res/values-pl"/>-->
        <!--<source-file src="src/android/LibraryProject/res/values-pt/strings.xml" target-dir="res/values-pt"/>-->
        <!--<source-file src="src/android/LibraryProject/res/values-ru/strings.xml" target-dir="res/values-ru"/>-->
        <!--<source-file src="src/android/LibraryProject/res/values-sk/strings.xml" target-dir="res/values-sk"/>-->
        <!--<source-file src="src/android/LibraryProject/res/values-sl/strings.xml" target-dir="res/values-sl"/>-->
        <!--<source-file src="src/android/LibraryProject/res/values-sv/strings.xml" target-dir="res/values-sv"/>-->
        <!--<source-file src="src/android/LibraryProject/res/values-tr/strings.xml" target-dir="res/values-tr"/>-->
        <!--<source-file src="src/android/LibraryProject/res/values-zh-rCN/strings.xml" target-dir="res/values-zh-rCN"/>-->
        <!--<source-file src="src/android/LibraryProject/res/values-zh-rTW/strings.xml" target-dir="res/values-zh-rTW"/>-->
        <!--<source-file src="src/android/LibraryProject/res/xml/preferences.xml" target-dir="res/xml"/>-->

        <!-- plugman cannot merge - prepare manual merge -->
        <config-file target="res/values/strings.xml" parent="/resources">
            <string name="app_picker_name">Applications</string>
        </config-file>
    </platform>

</plugin>
