<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns:android="http://schemas.android.com/apk/res/android" id="cordova-plugin-trace"
    version="1.3.0" xmlns="http://www.cordova.com/ns/plugins/1.0">

    <name>TracePluginCommon</name>
    <description>You can use the TracePluginCommon plugin to scan different types of barcodes (using
        the device's camera) and get the metadata encoded in them for processing within your
        application.
    </description>
    <license>MIT</license>

    <repo>https://github.com/wildabeast/TracePluginCommon</repo>
    <issue>https://github.com/wildabeast/TracePluginCommon/issues</issue>

    <engines>
        <engine name="cordova" version=">=3.0.0" />
    </engines>

    <js-module name="TracePluginCommon" src="www/tracePluginCommon.js">
        <clobbers target="cordova.plugins.tracePluginCommon" />
    </js-module>

    <!-- ios -->
    <!--<platform name="ios">-->
    <!--&lt;!&ndash; Cordova >= 2.8 &ndash;&gt;-->
    <!--<config-file target="config.xml" parent="/*">-->
    <!--<feature name="TracePluginCommon">-->
    <!--<param name="ios-package" value="CDVTracePluginCommon" />-->
    <!--</feature>-->
    <!--</config-file>-->

    <!--<resource-file src="src/ios/scannerOverlay.xib" />-->
    <!--<resource-file src="src/ios/CDVTracePluginCommon.bundle" />-->

    <!--<header-file src="src/ios/zxing-all-in-one.h" />-->

    <!--<source-file src="src/ios/CDVTracePluginCommon.mm" compiler-flags="-fno-objc-arc" />-->
    <!--<source-file src="src/ios/zxing-all-in-one.cpp" />-->

    <!--<framework src="libiconv.dylib" />-->
    <!--<framework src="AVFoundation.framework" />-->
    <!--<framework src="AssetsLibrary.framework" />-->
    <!--<framework src="CoreVideo.framework" />-->
    <!--<framework src="QuartzCore.framework" />-->
    <!--<framework src="CoreGraphics.framework" />-->
    <!--<framework src="CoreImage.framework" />-->
    <!--<framework src="AudioToolbox.framework" />-->
    <!--</platform>-->

    <!-- android -->
    <platform name="android">

        <source-file src="src/android/com/cordova/plugins/leanit/TracePluginCommon.java"
            target-dir="src/com/cordova/plugins/leanit" />
        <source-file src="src/android/com/cordova/plugins/leanit/CommonPrintThread.java"
            target-dir="src/com/cordova/plugins/leanit" />

        <source-file src="src/android/com/cordova/plugins/leanit/qrcode/CaptureActivity.java"
            target-dir="src/com/cordova/plugins/leanit/qrcode" />
        <source-file src="src/android/com/cordova/plugins/leanit/qrcode/view/ViewfinderResultPointCallback.java"
            target-dir="src/com/cordova/plugins/leanit/qrcode/view" />
        <source-file src="src/android/com/cordova/plugins/leanit/qrcode/view/ViewfinderView.java"
            target-dir="src/com/cordova/plugins/leanit/qrcode/view" />




        <source-file src="src/android/com/cordova/plugins/leanit/qrcode/decoding/CaptureActivityHandler.java"
            target-dir="src/com/cordova/plugins/leanit/qrcode/decoding" />
        <source-file src="src/android/com/cordova/plugins/leanit/qrcode/decoding/DecodeFormatManager.java"
            target-dir="src/com/cordova/plugins/leanit/qrcode/decoding" />
        <source-file src="src/android/com/cordova/plugins/leanit/qrcode/decoding/DecodeHandler.java"
            target-dir="src/com/cordova/plugins/leanit/qrcode/decoding" />
        <source-file src="src/android/com/cordova/plugins/leanit/qrcode/decoding/DecodeThread.java"
            target-dir="src/com/cordova/plugins/leanit/qrcode/decoding" />
        <source-file src="src/android/com/cordova/plugins/leanit/qrcode/decoding/FinishListener.java"
            target-dir="src/com/cordova/plugins/leanit/qrcode/decoding" />
        <source-file src="src/android/com/cordova/plugins/leanit/qrcode/decoding/InactivityTimer.java"
            target-dir="src/com/cordova/plugins/leanit/qrcode/decoding" />
        <source-file src="src/android/com/cordova/plugins/leanit/qrcode/decoding/Intents.java"
            target-dir="src/com/cordova/plugins/leanit/qrcode/decoding" />
        <source-file src="src/android/com/cordova/plugins/leanit/qrcode/decoding/RGBLuminanceSource.java"
            target-dir="src/com/cordova/plugins/leanit/qrcode/decoding" />
        <source-file src="src/android/com/cordova/plugins/leanit/qrcode/decoding/Utils.java"
            target-dir="src/com/cordova/plugins/leanit/qrcode/decoding" />


        <source-file src="src/android/com/cordova/plugins/leanit/qrcode/camera/AutoFocusCallback.java"
            target-dir="src/com/cordova/plugins/leanit/qrcode/camera" />
        <source-file src="src/android/com/cordova/plugins/leanit/qrcode/camera/CameraConfigurationManager.java"
            target-dir="src/com/cordova/plugins/leanit/qrcode/camera" />
        <source-file src="src/android/com/cordova/plugins/leanit/qrcode/camera/CameraManager.java"
            target-dir="src/com/cordova/plugins/leanit/qrcode/camera" />
        <source-file src="src/android/com/cordova/plugins/leanit/qrcode/camera/PlanarYUVLuminanceSource.java"
            target-dir="src/com/cordova/plugins/leanit/qrcode/camera" />
        <source-file src="src/android/com/cordova/plugins/leanit/qrcode/camera/PreviewCallback.java"
            target-dir="src/com/cordova/plugins/leanit/qrcode/camera" />
        <source-file src="src/android/com/cordova/plugins/leanit/qrcode/camera/FlashlightManager.java"
            target-dir="src/com/cordova/plugins/leanit/qrcode/camera" />

        <!--<config-file parent="/plugins" target="res/xml/plugins.xml">-->

        <!--<plugin name="TracePluginCommon" value="com.cordova.plugins.dialog.TracePluginCommon" />-->
        <!--</config-file>-->
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="TracePluginCommon">
                <param name="android-package"
                    value="com.cordova.plugins.leanit.TracePluginCommon" />
                <param name="onload" value="true" />
            </feature>
        </config-file>

        <config-file parent="/manifest/application" target="AndroidManifest.xml">
            <activity
                android:name="com.cordova.plugins.leanit.qrcode.CaptureActivity"
                android:configChanges="orientation|keyboardHidden"
                android:screenOrientation="portrait"
                android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
                android:windowSoftInputMode="stateAlwaysHidden"></activity>
        </config-file>

        <config-file parent="/manifest" target="AndroidManifest.xml">
            <uses-permission android:name="android.permission.CAMERA" />
            <uses-permission android:name="android.permission.FLASHLIGHT" />
            <!-- Not required to allow users to work around this -->
            <uses-feature android:name="android.hardware.camera" android:required="false" />
            <uses-permission android:name="android.permission.GET_ACCOUNTS" />
            <uses-permission android:name="android.permission.READ_PROFILE" />
            <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
            <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
            <uses-permission android:name="android.permission.BLUETOOTH" />
            <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
            <uses-permission android:name="android.permission.INTERNET" />
            <!--SD卡读写权限-->
            <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
            <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
        </config-file>

        <!--<source-file src="src/android/com.google.zxing.client.android.captureactivity.jar" target-dir="libs"/>-->

        <source-file src="src/android/BixolonPrinterWithDoubleByteFontBinaryV229.jar"
            target-dir="libs" />
        <source-file src="src/android/zxing.jar"
            target-dir="libs" />

        <!--
            LibraryProject/res/*.*
            search: (src/android/LibraryProject/(.+?)/[^/]+)$
            replace: <source-file src="$1" target-dir="$2"/>
        -->

        <source-file src="src/android/res/drawable/mo_scanner_album.png"
            target-dir="res/drawable" />
        <source-file src="src/android/res/drawable/mo_scanner_arrow.png"
            target-dir="res/drawable" />
        <source-file src="src/android/res/drawable/mo_scanner_back_img.png"
            target-dir="res/drawable" />
        <source-file src="src/android/res/drawable/mo_scanner_bg.png" target-dir="res/drawable" />
        <source-file src="src/android/res/drawable/mo_scanner_light.png"
            target-dir="res/drawable" />
        <source-file src="src/android/res/drawable/mo_scanner_light_light.png"
            target-dir="res/drawable" />
        <source-file src="src/android/res/layout/mo_scanner_main.xml" target-dir="res/layout" />
        <!--<source-file src="src/android/LibraryProject/res/layout/capture.xml" target-dir="res/layout"/>-->
        <!--<source-file src="src/android/LibraryProject/res/layout/encode.xml" target-dir="res/layout"/>-->
        <!--<source-file src="src/android/LibraryProject/res/layout/help.xml" target-dir="res/layout"/>-->
        <!--<source-file src="src/android/LibraryProject/res/layout/history_list_item.xml" target-dir="res/layout"/>-->
        <!--<source-file src="src/android/LibraryProject/res/layout/search_book_contents.xml" target-dir="res/layout"/>-->
        <!--<source-file src="src/android/LibraryProject/res/layout/search_book_contents_header.xml" target-dir="res/layout"/>-->
        <!--<source-file src="src/android/LibraryProject/res/layout/search_book_contents_list_item.xml" target-dir="res/layout"/>-->
        <!--<source-file src="src/android/LibraryProject/res/layout/share.xml" target-dir="res/layout"/>-->
        <!--<source-file src="src/android/LibraryProject/res/layout-land/encode.xml" target-dir="res/layout-land"/>-->
        <!--<source-file src="src/android/LibraryProject/res/layout-land/share.xml" target-dir="res/layout-land"/>-->
        <!--<source-file src="src/android/LibraryProject/res/layout-ldpi/capture.xml" target-dir="res/layout-ldpi"/>-->
        <!--<source-file src="src/android/LibraryProject/res/menu/capture.xml" target-dir="res/menu"/>-->
        <!--<source-file src="src/android/LibraryProject/res/menu/encode.xml" target-dir="res/menu"/>-->
        <!--<source-file src="src/android/LibraryProject/res/menu/history.xml" target-dir="res/menu"/>-->
        <!--<source-file src="src/android/LibraryProject/res/raw/beep.ogg" target-dir="res/raw"/>-->
        <source-file src="src/android/res/values/arrays.xml" target-dir="res/values" />
        <source-file src="src/android/res/values/colors.xml" target-dir="res/values" />
        <source-file src="src/android/res/values/dimens.xml" target-dir="res/values" />
        <source-file src="src/android/res/values/ids.xml" target-dir="res/values" />
        <!--<source-file src="src/android/res/values/strings.xml" target-dir="res/values"/>-->
        <!--<source-file src="src/android/LibraryProject/res/values-bg/strings.xml" target-dir="res/values-bg"/>-->
        <!--<source-file src="src/android/LibraryProject/res/values-ca/strings.xml" target-dir="res/values-ca"/>-->
        <!--<source-file src="src/android/LibraryProject/res/values-cs/strings.xml" target-dir="res/values-cs"/>-->
        <!--<source-file src="src/android/LibraryProject/res/values-da/strings.xml" target-dir="res/values-da"/>-->
        <!--<source-file src="src/android/LibraryProject/res/values-de/strings.xml" target-dir="res/values-de"/>-->
        <!--<source-file src="src/android/LibraryProject/res/values-el/strings.xml" target-dir="res/values-el"/>-->
        <!--<source-file src="src/android/LibraryProject/res/values-es/strings.xml" target-dir="res/values-es"/>-->
        <!--<source-file src="src/android/LibraryProject/res/values-eu/strings.xml" target-dir="res/values-eu"/>-->
        <!--<source-file src="src/android/LibraryProject/res/values-fi/strings.xml" target-dir="res/values-fi"/>-->
        <!--<source-file src="src/android/LibraryProject/res/values-fr/strings.xml" target-dir="res/values-fr"/>-->
        <!--<source-file src="src/android/LibraryProject/res/values-he/strings.xml" target-dir="res/values-he"/>-->
        <!--<source-file src="src/android/LibraryProject/res/values-hi/strings.xml" target-dir="res/values-hi"/>-->
        <!--<source-file src="src/android/LibraryProject/res/values-hu/strings.xml" target-dir="res/values-hu"/>-->
        <!--<source-file src="src/android/LibraryProject/res/values-id/strings.xml" target-dir="res/values-id"/>-->
        <!--<source-file src="src/android/LibraryProject/res/values-it/strings.xml" target-dir="res/values-it"/>-->
        <!--<source-file src="src/android/LibraryProject/res/values-iw/strings.xml" target-dir="res/values-iw"/>-->
        <!--<source-file src="src/android/LibraryProject/res/values-ja/strings.xml" target-dir="res/values-ja"/>-->
        <!--<source-file src="src/android/LibraryProject/res/values-ko/strings.xml" target-dir="res/values-ko"/>-->
        <!--<source-file src="src/android/LibraryProject/res/values-nl/strings.xml" target-dir="res/values-nl"/>-->
        <!--<source-file src="src/android/LibraryProject/res/values-pl/strings.xml" target-dir="res/values-pl"/>-->
        <!--<source-file src="src/android/LibraryProject/res/values-pt/strings.xml" target-dir="res/values-pt"/>-->
        <!--<source-file src="src/android/LibraryProject/res/values-ru/strings.xml" target-dir="res/values-ru"/>-->
        <!--<source-file src="src/android/LibraryProject/res/values-sk/strings.xml" target-dir="res/values-sk"/>-->
        <!--<source-file src="src/android/LibraryProject/res/values-sl/strings.xml" target-dir="res/values-sl"/>-->
        <!--<source-file src="src/android/LibraryProject/res/values-sv/strings.xml" target-dir="res/values-sv"/>-->
        <!--<source-file src="src/android/LibraryProject/res/values-tr/strings.xml" target-dir="res/values-tr"/>-->
        <!--<source-file src="src/android/LibraryProject/res/values-zh-rCN/strings.xml" target-dir="res/values-zh-rCN"/>-->
        <!--<source-file src="src/android/LibraryProject/res/values-zh-rTW/strings.xml" target-dir="res/values-zh-rTW"/>-->
        <!--<source-file src="src/android/LibraryProject/res/xml/preferences.xml" target-dir="res/xml"/>-->

         <!--plugman cannot merge - prepare manual merge -->
        <config-file target="res/values/strings.xml" parent="/resources">
         <string name="app_picker_name">Applications</string>
        </config-file>
    </platform>

</plugin>
